@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-principal: "Montserrat", sans-serif;
    --cor-textoPrincipal: #464646;
    --cor-textoSecundario: #A3A3A3;
    --fundo-principal: #f9f7fe;
    --cor-botaoChamada: #FFB050;
    --cor-botaoEndereço: #4894FF;
}

* {
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo-principal);
    transition: background-color 0.3s ease;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.cabecalho {
    display: flex;
    margin: 3em 0 3em 1em;
    background-color: var(--fundo-principal);
}

.cabecalho__container {
    margin-left: 1em;
}

.container__titulo {
    color: var(--cor-textoPrincipal);
}

.container__texto {
    color: var(--cor-textoSecundario);
}

.conteudoTitulo {
    color: var(--cor-textoPrincipal);
    margin: 1em 0 0 1em;
}

.container__paciente {
    position: relative;
    display: flex;
    width: 90%;
    margin: 1em auto 0em;
    padding: 1em;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.container__paciente-foto {
    width: 40px;
    margin-right: 1em;
}

.container__paciente-titulo {
    color: var(--cor-textoPrincipal);
    margin-bottom: .1em;
}

.container__paciente-consulta {
    display: flex;
}

.paciente__consulta-camera {
    margin-right: .5em;
}

.paciente__consulta-texto {
    color: var(--cor-textoSecundario);
}

.container__paciente-botao {
    background-color: var(--fundo-principal);
    border-radius: 50%;
    padding: .8em;
    position: absolute;
    right: 10px;
    display: flex;
}

.container__linha {
    border: none;
    border-top: 1px solid #ccc; 
    width: 90%;
    margin: auto;
}

.container__remoto {
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 1em;
    border-radius: 0 0 10px 10px;
    background-color: white;
}

.container__remoto > p {
    color: var(--cor-textoPrincipal);
    font-size: 14px;
    font-weight: 500;
    margin-left: .2em;
}

.botao__video {
    background-color: var(--cor-botaoChamada);
    border: none;
    color: white;
    padding: 1em;
    border-radius: 10px;
    margin-top: 1em;
    font-size: 15px;
}

.botao__audio {
    background-color: white;
    border: 1px solid var(--cor-textoSecundario);
    color: var(--cor-textoPrincipal);
    padding: 1em;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 1.5em;
}

.container__presencial {
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 1em;
    border-radius: 0 0 10px 10px;
    background-color: white;
}

.botao__endereço {
    background-color: var(--cor-botaoEndereço);
    border: none;
    color: white;
    padding: 1em;
    border-radius: 10px;
    margin-top: 1em;
    font-size: 15px;
    width: 82vw;
}

.rodape {
    display: flex;
    padding: 1em;
    background-color: white;
    border-radius: 20px 20px 0 0;
    gap: 20px;
    position: fixed;
    bottom: 0;
}

.rodape-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.rodape_link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--cor-textoSecundario);
    text-decoration: none;
}

.rodape_link .rodape_icone {
    filter: grayscale(100%);
    transition: filter 0.3s, color 0.3s;
}

.rodape_link.active {
    color: var(--cor-botaoEndereço);
}

.rodape_link.active .rodape_icone {
    filter: none;
}

.rodape_icone {
    margin-bottom: 5px;
}

.floating-button-container {
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
}

.floating-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.floating-button img {
    width: 24px;
    height: 24px;
}

.floating-menu {
    position: absolute;
    bottom: 70px;
    right: 0;
    display: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
}

.floating-menu-item {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row-reverse;
}

.floating-menu-item img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.floating-menu-item span {
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 10px;
    white-space: nowrap;
    font-size: 15px;
}

@media screen and (min-width: 1024px) {
    body {
        width: 98vw;
    }

    .cabecalho {
        margin-left: 2em;
    }

    .conteudoTitulo {
        margin-left: 2em;
    }

    .container__paciente, .container__remoto, .container__linha, .container__presencial{
        width: 400px;
    }

    .botao__endereço {
        width: 370px;
    }

    .container__conteudo{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 5em;
    }

    .rodape-container {
        width: 23vw;
    }

    .card__paciente{
        width: 400px;
        margin-left: 5em;
    }

    .container__botao {
        display: flex;
        justify-content: center;
    }

    .botao__audio {
        height: 50px;
        margin-top: 1em;
    }
}

@media screen and (min-width: 1728px) {

    body, html {
        width: 100vw;
        overflow-x: hidden;
    }

    .container__conteudo {
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    .rodape {
        width: 99vw;
    }
}